/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

#navbar {
    border: solid 5px deepskyblue;
    background-color: blueviolet;
    color: deepskyblue;
    margin-bottom: 20px;
}

#formDiv {
    border: solid 10px deepskyblue;
}

#coffeeContainer{
    border: solid 10px goldenrod;
}

/*#formDiv {*/
/*    width: 500px;*/
/*    height: 200px;*/
/*    display: flex;*/

/*}*/
