* {
    box-sizing: border-box;
}
body {
    background: deepskyblue;
}

/*nav bar css*/
nav {
    background: dodgerblue;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    text-decoration: none;
    color: orange;
    font-family: Verdana;
    display: inline-block;
    padding: 1em;
}
nav ul li:nth-child(3){
    margin-left: auto;
}

nav a:hover {
    background: white;
}

#videodropdown{
    margin-top: 10px;
    color: orange;
}

/*card styling*/
#ethan_levante_profile_card{
    background-color: coral;
    border: 20px solid orange;
    /*width: 600px;*/
    /*height: 600px;*/
    margin: auto;
    color: white;
}
img {
    width: 560px;
}
.text-section{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-end;*/
    /*justify-content: space-between;*/
    padding-top: 10px;
}
hr {
    width: 50%;
    border: 1px solid blue;
    margin-top: 0px;
}

.icons a:hover{
    background-color: white;
}

/*carousel styling*/
.carousel-item {
    height: 800px;
    color: orange;
    position: relative;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

/*futbol Team styling*/
#teamDiv {
    border: solid 10px white;
    display: block;
    text-align: center;
}

#futbolDisplay {
    margin-left: 300px;
}