/*# targets element by ID, (.) targets by class attribute*/

.fancy-header {
    color: purple;
    text-decoration: underline;
}
/*above applied to h1*/

h3, h6 {
    color: magenta;
    text-decoration: underline;
}

.pink_border {
    border-color: magenta;
}

#container_color tr{
    color: red;
}
/*descendent selector above - select by ID selector, in this case a div is selected, then list the descendent element in this case tr element*/

#direct_selector > p3 {
    color: magenta;
}
/*direct child selector above - selected by ID selector, this case a div is selected, the > indicates direct child selector in this case <p*/

a:link {
    color: red;
}
a:visited {
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: green;
}

#pic_div {
    background-image: url("/../images/ethan_levante.jpeg");
}

ol { list-style: upper-alpha; }
ul { list-style: square; }

